header {
    background-color: #333;
    color: indianred;
    width: 100%;
}
header nav ul li {
    list-style: none;
    display: inline;
    float: right;
    padding: 1%;
    margin: 2%;
}
section nav ul li {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 1%;
    margin: 2%;
}
.secondnav {
    background-color: #333;
    color: indianred;
    width: 100%;
    padding: 1%;
}
body {
    background-color: #333;
}

/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    height: 100%;
    position: static;
    margin: auto;
    background-color: #333;
}
.change img {
    height: 450px;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #456780;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #333;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */

.change {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
.did-you-know {
    position: relative;
    height: 700px;
    overflow: hidden;
    background: #D3D3D3;
    padding: 20px;
    perspective: 1000;
}
.did-you-know-header {
    height: 100px;
    width: 100p%;
}
.did-you-know div.facts-about {
    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 10px;
    position: absolute;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: factsAnimation 45s linear infinite 0s;
    -moz-animation: factsAnimation 45s linear infinite 0s;
    -o-animation: factsAnimation 45s linear infinite 0s;
    -ms-animation: factsAnimation 45s linear infinite 0s;
    animation: factsAnimation 45s linear infinite 0s;
}
.did-you-know div.facts-about:nth-child(1) {
    background: #D3D3D3;
    opacity: 1;
    margin-bottom: 20px;
}
.did-you-know {
    height: 500px;
}

/*.





	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1) translateX(-100%);
	}
	100% { opacity: 0 }
}
@-moz-keyframes factsAnimation {
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateX(-40%);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1) translateX(-100%);
	}
	100% { opacity: 0 }
}
@-o-keyframes factsAnimation {
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateX(-40%);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1) translateX(-100%);
	}
	100% { opacity: 0 }
}
@-ms-keyframes factsAnimation {
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	22% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateX(-40%);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1) translateX(-100%);
	}
	100% { opacity: 0 }
}
@keyframes factsAnimation {
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	22% {
		opacity: 1;
		-webkit-transform: scale(1.1) translateX(-40%);
	}
	25% {
	    opacity: 1;
	    -webkit-transform: scale(1.1) translateX(-100%);
	}
	90% {
	    opacity: 0;
	    -webkit-transform: scale(1.1) translateX(-100%);
	}
	100% { opacity: 1 }
}*/

.did-you-know .columns {
    padding: 0px 20px;
    height: 100%;
}
.did-you-know .columns:nth-child(2) {
    padding-left: 0;
}
.did-you-know .columns:last-child {
    padding-right: 0;
}
.type-container {
    border: 1px solid white;
    padding: 20px !important;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    height: 100%;
    text-align: center;
}
.type-container p {
    padding: 0 20px;
    margin: 0;
    font-size: 20px;
    color: black;
}

/*.elephant1, .lion1, .squirel1 {
    background: rgba(0,0,0, 0.1);
    border-radius: 10px;
}

.elephant2, .lion2, .squirel2 {
    background: rgba(211,211,211, 0.5);
    border-radius: 10px;
}

.elephant3, .lion3, .squirel3 {
    background: rgba(211,211,211, 0.7);
    border-radius: 10px;
}*/

.bg-images {
    height: 100%;
}
.bg-images img {
    height: 100%;
}
.header nav ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-right: 50px
}
.header nav ul li:hover a {
    color: yellow;
}
.caption-text {
    text-align: center;
}

/*..................................................................................*/

.#f1_container {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card,
#f1_card1,
#f1_card2 {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
.transformRotate {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #333;
}
.face {
    position: absolute;
    width: 100%;
    height: 500px;
    backface-visibility: hidden;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
#f1_card1 img {
    height: 400px;
    width: 100%;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #333;
}
.did-u-knw-heading span {
    white-space: nowrap;
}
.heading-words {}
.heading-words span {}
.quotes img {
    height: 183px;
    width: 275px;
}
.quotes {
    margin-top: 1%;
    padding: 4%
}
